
<div class="container col-md-8">

  <h2>Avocats spécialisés en divorce </h2>

  <form class="form-inline mb-3 search-divorce">
    <input class="form-control" type="search" placeholder="Divorce">
    <button class="btn btn-primary" type="submit">Rechercher</button>
    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-sliders-h"></i> Filtres</button>
  </form>

  <div class="card mb-3">

  <div class="card-haut d-flex justify-content-between">
    <div class="card-avatar-name d-flex">
      <img src="https://pbs.twimg.com/profile_images/564566896750493696/7LDNbQbV.jpeg" height="100" width="100" class="rounded-circle" alt="...">
      <p class="card-text pl-5"><span>Maître Saul Goodman</span> <br><small> Avocat à la Cour d'Albuquerque</small></p>
    </div>

    <div class="card-btn d-flex">
      <!-- <button type="button" class="btn btn-primary mr-3">Voir profil</button>
      <button type="button" class="btn btn-outline-primary mr-2">Prendre RDV</button> -->
      <%= link_to 'En savoir plus', profile_saul_path, class: "btn btn-primary mr-3" %>
      <%= link_to "Contacter l'avocat", new_service_procedure_path(@services.first), class: "btn btn-outline-primary mr-2" %>
    </div>
  </div>

  <div class="card-price-category-duration d-flex">
    <p class="card-text"><strong>Divorce</strong></p>
    <p class="card-text"><strong>Albuquerque, Nouveau Mexique</strong></p>
    <p class="card-text"><strong>4 semaines</strong></p>
    <p class="card-text"><strong>500 €</strong></p>
  </div>

  <div class="card-description">
    <p class="card-text">Don't want to go to jail ? Better call Saul !!</p>
  </div>

  <div class="card-tags">
    <a href="#" class="badge badge-primary">Droit pénal</a>
    <a href="#" class="badge badge-secondary">Droit de la famille</a>
    <a href="#" class="badge badge-light">Droit fiscal</a>
  </div>

</div>

<% @services.each do |service| %>

<div class="card mb-3">

  <div class="card-haut d-flex justify-content-between">
    <div class="card-avatar-name d-flex">
      <%= image_tag(service.user.avatar, class: "rounded-circle", width:"100px", height:"100px") %>
      <p class="card-text pl-5">
        <span>Maître <%= service.user.first_name %> <%= service.user.last_name %></span>
        <br>
        <small> <%= service.user.job %> en <%= service.user.specialty %> </small>
        <br>
        📍<%= service.user.address %>
      </p>
    </div>

    <div class="card-btn d-flex">
      <%= link_to 'En savoir plus', service_path(service), class: "btn btn-primary mr-3" %>
      <%= link_to "Contacter l'avocat", new_service_procedure_path(service), class: "btn btn-outline-primary mr-2" %>
    </div>
  </div>
  <hr>
  <div class="card-price-category-duration d-flex">
    <p class="card-text"><strong>Procédure: </strong><%= service.title %></p>
    <p class="card-text"><strong>Durée: </strong><%= service.duration %> semaine(s)</p>
    <p class="card-text"><strong>Tarif: </strong><%= service.price %> € <small>TTC</small></p>
  </div>

  <div class="card-description">
    <p class="card-text"><strong>Description: </strong><%= service.description %></p>
  </div>

  <div class="card-tags">
    <a href="#" class="badge badge-primary">Droit pénal</a>
    <a href="#" class="badge badge-secondary">Droit de la famille</a>
    <a href="#" class="badge badge-light">Droit fiscal</a>
  </div>

</div>

  <% end %>
</div>
