<div class="container col-md-8">

  <!-- <h2> <%= @services.size %> résultat(s) disponible(s) </h2> -->

  <%if @services.size == 0 %>
    <h2>Aucun résultat disponible</h2>
    <%elsif @services.size == 1 %>
      <h2><%= @services.size %> résultat disponible</h2>
        <%else%>
          <h2><%= @services.size %> résultats disponibles</h2>
  <%end%>

  <!-- <form class="form-inline mb-3 search">
    <input class="form-control search-divorce" type="search" placeholder="Divorce">
    <button class="btn btn-primary" type="submit">Rechercher</button>
    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-sliders-h"></i> Filtres</button>
  </form> -->

  <!-- Form de search query -->

  <%= form_tag services_path, class: "form-inline mb-3 search", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-divorce",
      placeholder: "Recherchez votre service..." %>
    <%= submit_tag "Rechercher", class: "submitbtn btn btn-primary" %>
    <button type="button" class="filterbtn btn btn-outline-secondary"><i class="fas fa-sliders-h"></i> Filtres</button>
  <% end %>

  <!-- Form de search query -->

<% @services.each do |service| %>

<div class="card mb-3">

  <div class="card-haut d-flex justify-content-between">
    <div class="card-avatar-name d-flex">
      <% if service.user.avatar.url.nil? == false %>
        <%= cl_image_tag(service.user.avatar, class: "rounded-circle", width:"100px", height:"100px") %>
      <% end %>
      <p class="card-text pl-5">
        <span>Maître <%= service.user.first_name %> <%= service.user.last_name %></span>
        <br>
        <small> <%= service.user.job %> en <%= service.user.specialty %> </small>
        <br>
        📍<%= service.user.address %>
      </p>
    </div>

    <div class="card-btn d-flex">
      <%= link_to 'En savoir plus', service_path(service), class: "btn btn-primary mr-3" %>
      <%= link_to "Contacter l'avocat", new_service_procedure_path(service), class: "btn btn-outline-primary mr-2" %>
    </div>
  </div>
  <hr>
  <div class="card-price-category-duration d-flex">
    <p class="card-text"><strong>Procédure: </strong><%= service.title %></p>
    <p class="card-text"><strong>Durée: </strong><%= service.duration %> semaine(s)</p>
    <p class="card-text"><strong>Tarif: </strong><%= service.price %> € <small>TTC</small></p>
  </div>

  <div class="card-description">
    <p class="card-text"><strong>Description: </strong><%= service.description %></p>
  </div>

  <div class="card-tags">
      <% if service.user.specialty %>
        <% service.user.specialty.split(",").each do |spe|  %>
          <a href="#" class="badge badge-primary"><%= spe %></a>
        <% end %>
      <% end %>
  </div>

</div>

<% end %>
</div>
