<div class="container">
  <div class="row">
    <div class="col-8 p-5 section-1">
      <div class="row d-flex profile">
        <% unless @service.user.avatar.blank? %>
          <%= image_tag(@service.user.avatar)%>
        <% end %>
        <div class="pl-4">
          <small>Avocat à la cour</small>
          <h2><strong>Maître <%= @service.user.last_name %> </strong></h2>
          <p><strong>Spécialité: </strong><%= @service.category %></p>
          <p><strong>Votes: </strong>⭐️⭐️⭐️⭐️ (250 votes)</p>
          <p><strong>Durée procédure: </strong><%= @service.duration %> semaine(s)</p>
          <p><strong>Tarif (tout compris): </strong><%= @service.price %> €</p>
        </div>
      </div>
      <hr>
      <div class='section-2'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <h3>Détails la procédure</h3>
          <p> <%= @service.description %> </p>
        <br>
      </div>
    </div>
    <div class="col-4">
      <div class="recap">
        <div class="recap-header">
          <h5>La procédure comprend:</h5>
          <small><%= @service.title %></small>
        </div>
        <div class="list-group-recap">
          <p class="list-item">1. Vérification des conditions de recevabilité.</p>
          <p class="list-item">2. Emission du courrier de contestation.</p>
          <p class="list-item">3. Contestation automatisée.</p>
          <p class="list-item">4. Suivi de votre dossier auprès de la juridiction saisie.</p>
          <p class="list-item">5. Défense éventuelle de votre permis si convocation en justice.</p>
          <p class="list-item">6. Compte rendu de la décision obtenue et clôture du dossier.</p>
        </div>
        <%= link_to "Démarrer cette procédure", new_service_procedure_path(@service), class: "btn_1" %>
      </div>
    </div>
  </div>
</div>



