<center><h2>Mes Procédures</h2></center>
<div class="container">
	<div class="row">

		<div class="procedures-subblock col-md-7">
		  <% if @jobs %>
        <div class="card">
  				<div class="card-header text-center"><h4>Liste des procédures</h4>
          </div>
  				<div class="card-body">
            <div class="card-header padding-zero">En attente</div>
              <% @proposed_services.each do |procedure| %>
                <% if procedure.status == "pending" %>
  						    <ul class="list-group list-group-flush">
                    <li class="list-group-item list-procedure"><%= procedure.service.title %> | <%= procedure.date %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Détails</button>
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="Modal-<%= procedure.id %>Label"><%= procedure.service.title %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <%= procedure.grievance %>
                            </div>
                            <div class="modal-footer">
                              <%= link_to "Refuser", refuse_path(procedure), method: :patch, class: "btn btn-outline-danger" %>
                              <%= link_to "Accepter", accept_path(procedure), method: :patch, class: "btn btn-outline-success" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                <% end %>
              <% end %>

            <div class="card-header padding-zero">En cours</div>
                <% @procedures.each do |procedure| %>
                  <% if procedure.status == "accepted" %>
      						  <ul class="list-group list-group-flush">
                      <li class="list-group-item list-procedure"><%= procedure.service.title %> | <%= procedure.date %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ProcedureModal<%= procedure.id %>">Détails</button>
                        <div class="modal fade" id="ProcedureModal<%= procedure.id %>" tabindex="-1" role="dialog" aria-labelledby="ProcedureModal-<%= procedure.id %>" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="ProcedureModal-<%= procedure.id %>"><%= procedure.service.title %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <%= procedure.grievance %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  <% end %>
  					    <% end %>
  				    </div>
         <% else %>
         <div class="card">
          <div class="card-header text-center"><h4>Liste des pro</h4>
          </div>
          <div class="card-body">
            <div class="card-header padding-zero">En attente</div>
              <% @procedures.each do |procedure| %>
                <% if procedure.status == "pending" %>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-procedure"><%= procedure.service.title %> | <%= procedure.date %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Détails</button>
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="Modal-<%= procedure.id %>Label"><%= procedure.service.title %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <%= procedure.grievance %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                <% end %>
              <% end %>

            <div class="card-header padding-zero">En cours</div>
                <% @procedures.each do |procedure| %>
                  <% if procedure.status == "accepted" %>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item list-procedure"><%= procedure.service.title %> | <%= procedure.date %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ProcedureModal<%= procedure.id %>">Détails</button>
                        <div class="modal fade" id="ProcedureModal<%= procedure.id %>" tabindex="-1" role="dialog" aria-labelledby="ProcedureModal-<%= procedure.id %>" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="ProcedureModal-<%= procedure.id %>"><%= procedure.service.title %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <%= procedure.grievance %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            <% end %>
			</div>
		</div>

    <div class="col-md-5">
      <div class="profile-block mb-4">
			<div class="card-product fixxed">
				<%= cl_image_tag @user.avatar, class:"lawyer-avatar"%>
				<div class="card-product-infos">
          <% if (@user.first_name.blank? && @user.last_name.blank?) %>
            <h6> <strong>Missing name</strong> 👉🏼 <%= link_to "Edit Profile", edit_user_registration_path %></h6>
          <% else  %>
					  <div class="d-flex justify-content-between">
              <h3 class="mr-4"><%= @user.first_name %> <%= @user.last_name %></h3>
              <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
            </div>
          <% end %>
					<p><%= @user.job %> chez <strong><%= @user.firm %></strong></p>
					<div class="d-flex">
						<p><%= image_tag "location.svg", class:"location" %> <%= @user.address %></p>
					</div>
          <% if @user.specialty.nil? == false  %>
            <% @user.specialty.split(",").each do |special| %>
					    <a href="#" class="badge badge-primary"><%= special %></a>
            <% end %>
          <% end %>
				</div>
			</div>
		  </div>
      <div class="services-subblock">
      <% if @jobs %>
      <div class="card">
        <div class="card-header">Mes prestations :</div>
          <% @services.each do |service| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>
                  <h6><%= service.title %></h6>
                  <p><small><%= service.category %></small></p>
                </div>
                <div>
                  <h6><%= service.duration %> semaines</h6>
                  <h6><%= service.price %>€</h6>
                </div>
              </div>
              <%= link_to 'Edit', edit_service_path(service) %>
              <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Êtes vous sur de vouloir supprimer cette prestation?' } %>
            </li>
          </ul>
          <% end %>
            <li class="list-group-item"><%= link_to 'Nouvelle prestation', new_service_path %>
            </li>
        </div>
      <% end %>
      </div>
    </div>
  </div>


</div>
