<center><h2>Votre tableau de bord</h2></center>

<div class="container">
  <div class="row">
    <div class="profile-block col-md-12">
      <h3 class="">Profil</h3>
      <% if @user.job == 'justiciable' %>
        <%= @user.first_name %>
        <%= @user.last_name %>
        <%= @user.email %>
      <% else %>
        <%= @user.first_name %>
        <%= @user.last_name %>
        <%= @user.email %>
        <%= @user.job %>
        <%= @user.specialty %>
        <%= @user.address %>
        <%= @user.description %>
        <%= @user.experience %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="procedures-subblock col-md-7">
      <%= @procedures %>
    </div>

    <div class="services-subblock col-md-5">
      <% if @services %>
      <div class="card">
        <div class="card-header">
            Vos prestations :
        </div>
          <% @services.each do |service| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>
                  <h6><%= service.title %></h6>
                  <p><small><%= service.category %></small></p>
                </div>
                <div>
                  <h6><%= service.duration %> semaines</h6>
                  <h6><%= service.price %>€</h6>
                </div>
              </div>
              <%= link_to 'Edit', edit_service_path(service) %>
              <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Êtes vous sur de vouloir supprimer cette prestation?' } %>
            </li>
          </ul>
          <% end %>
            <li class="list-group-item"><%= link_to 'Nouvelle prestation', new_service_path %>
            </li>
      </div>
      <% end %>
    </div>
  </div>
</div>
