<center><h2>Votre tableau de bord</h2></center>

<div class="container">
	<div class="row">

		<div class="procedures-subblock col-md-7">
			<div class="card">
				<div class="card-header text-center"><h4>Procédures</h4>
        </div>
				<div class="card-body">
          <% @procedures.each do |procedure| %>
            <% if procedure.status == "pending" %>
              <div class="card-header padding-zero">En attente</div>
						    <ul class="list-group list-group-flush">
                  <li class="list-group-item list-procedure"><%= procedure.service.title %> | <%= procedure.date %> 
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Détails</button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle"><%= procedure.service.title %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= procedure.grievance %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Accepter</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Refuser</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
            <% elsif procedure.status == "not pending" %>
              <div class="card-header padding-zero">En cours</div>
						  <ul class="list-group list-group-flush">
                <li class="list-group-item list-procedure"><%= procedure.service.title %> | <%= procedure.date %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Détails</button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle"><%= procedure.service.title %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= procedure.grievance %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
              </ul>
            <% end %>
					<% end %>
				</div>
			</div>
		</div>
    <div class="col-md-5">
      <div class="profile-block mb-4">
			<div class="card-product fixxed">
				<%= image_tag "saul.jpg", class:"lawyer-avatar"%>
				<div class="card-product-infos">
					<h3>Saul Goodman</h3>
					<p>Avocat chez <strong>Saul Goodman & Associates.</strong></p>
					<div class="d-flex">
						<p><%= image_tag "location.svg", class:"location" %> Albuquerque, Nouveau Mexique</p>
					</div>
					<a href="#" class="badge badge-primary">Droit pénal</a>
					<a href="#" class="badge badge-secondary">Droit de la famille</a>
					<a href="#" class="badge badge-light">Droit fiscal</a>
				</div>
			</div>
		  </div>
      <div class="services-subblock">
      <% if @services %>
      <div class="card">
        <div class="card-header">
            Vos prestations :
        </div>
          <% @services.each do |service| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>
                  <h6><%= service.title %></h6>
                  <p><small><%= service.category %></small></p>
                </div>
                <div>
                  <h6><%= service.duration %> semaines</h6>
                  <h6><%= service.price %>€</h6>
                </div>
              </div>
              <%= link_to 'Edit', edit_service_path(service) %>
              <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Êtes vous sur de vouloir supprimer cette prestation?' } %>
            </li>
          </ul>
          <% end %>
            <li class="list-group-item"><%= link_to 'Nouvelle prestation', new_service_path %>
            </li>
        </div>
      <% end %>
      </div>
    </div>
    </div>


  </div>
</div>
