<div class="container">
  <%= simple_form_for(@user) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :address %>
  <%= f.input :job, collection: User::JOBS %>
  <%= f.input :experience %>
  <%= f.input :specialty %>
  <%= f.input :description %>
  <%= f.submit 'Update my profile', class: 'btn btn-primary' %>
  <% end %>
</div>
