<div class="container mt-5 col-6 offset-3">
<%= simple_form_for(@user) do |f| %>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
    <%= f.input :first_name, :label => "Prénom" %>
    <%= f.input :last_name, :label => "Nom" %>
    <%= f.input :email, :label => "Email" %>
    <%= f.input :address, :label => "Ville" %>
    <%= f.input :job, collection: User::JOBS, :label => "Rôle" %>
    <% if @user.job.nil? == false %>
      <%= f.input :firm, :label => "Entreprise" %>
      <%= f.input :experience, :label => "Expérience" %>
      <%= f.input :specialty, :label => "Spécialité(s) (séparer par une virgule)" %>
      <%= f.input :description, :label => "Description" %>
    <% end %>
    <%= f.submit 'Mettre à jour mon profil', class: 'text-center mt-2 btn btn-primary' %>
<% end %>
</div>
