<% if @user.job == 'justiciable' %>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.email %>
  <% else %>
  <%= cl_image_tag @user.avatar, height: 300, width: 400, crop: :fill %>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.email %>
  <%= @user.job %>
  <%= @user.specialty %>
  <%= @user.address %>
  <%= @user.description %>
  <%= @user.experience %>
<% end %>

<% if current_user == @user %>
  <p><%= link_to 'Update my profile', edit_lawyer_path(@user), class: "btn btn-primary" %></p>

  <p><%= link_to 'Delete my profile', user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
<% end %>



<!-- <p><%= link_to 'Delete my profile', user_registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p> -->
