<div class="cta d-flex" style="background-image: linear-gradient(to top,#cdd9f4,rgba(255,255,255,0))">
	<div class="container d-flex">
		<div id="tagline" class="align-self-center">
			<h2>Réglez vos litiges.</h2>
			<h5>Connectez-vous avec notre réseau de professionels, rapidement et simplement.</h5>
			  <%= form_tag services_path, class: "form-inline mb-3 search", method: :get do %>
    		<%= text_field_tag :query, params[:query], class: "form-control search-divorce", placeholder: "Recherchez votre service..." %>
    		<%= submit_tag "Rechercher", class: "btn btn-primary" %>
		  <% end %>
		</div>
		<%= image_tag 'home-image.svg', class: 'align-self-center' %>
	</div>
</div>

<!-- Fake comment -->
<div class="container text-center">
	<div class="m-4">
		<h2>Règlez vos procédures en un instant !</h2>
		<p>Bienvenue sur procédures simplifiées, on vous explique tout 👇🏼.</p>
	</div>
	<div class="card-deck">
		<div class="card p-3">
			<%= image_tag 'search.png', class: "card-img-top"  %>
			<div class="card-body">
				<h5 class="card-title">Découvrez notre annuaire d'avocats.</h5>
				<p class="card-text">Profitez de notre réseau, trouvez des professionels autour de chez vous.</p>
			</div>
		</div>
		<div class="card p-3">
			<%= image_tag 'find.png', class: "card-img-top"  %>
			<div class="card-body">
				<h5 class="card-title">Trouvez l'avocat qui vous correspond.</h5>
				<p class="card-text">Nous sommes transparent sur le prix de la prestation, la réputation et les affaires réussies de chacun de nos avocats.</p>
			</div>
		</div>
		<div class="card p-3">
			<%= image_tag 'book.png', class: "card-img-top"  %>
			<div class="card-body">
				<h5 class="card-title">Engagez une procédure.</h5>
				<p class="card-text">Bookez en fonction de vos disponibilités votre premier rendez-vous.</p>
			</div>
		</div>
	</div>
</div>
			<!-- /row -->
<div class="choix">
	<h4>Choisissez votre prestation...</h4>
</div>

<div class="container">
	<div class="card-deck mb-4">
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'skyler.png', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Divorce</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'pension.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Pension alimentaire</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'statio.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Stationnement</h2>
		</div>
	</div>

	<div class="card-deck mb-4">
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'licenciement.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Licenciement</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'bully.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Harcèlement</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'vitesse.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Excès de vitesse</h2>
		</div>
	</div>
</div>
