<div class="cta d-flex" style="background-image: linear-gradient(to top,#cdd9f4,rgba(255,255,255,0))">
	<div class="container d-flex">
		<div id="tagline">
			<h1>Rendez-justice.</h1>
			<p>Matchez avec nos meilleurs avocats en profitants de notre réseau de professionnels qualifiés.</p>
		</div>
		<%= image_tag 'home-image.svg' %>
	</div>
</div>

<div class="choix">
	<h4>Choisissez votre prestation...</h4>
</div>

<div class="container">
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="card col-md m-3">
				<a href=""><h6>Divorce</h6></a>
				<%= image_tag 'logo-cards.png' %>
			</div>
			<div class="card col-md m-3">
				<a href=""><h6>Pension alimentaire</h6></a>
				<%= image_tag 'logo-cards.png' %>
			</div>
			<div class="card col-md m-3">
				<a href=""><h6>Stationnement</h6></a>
				<%= image_tag 'logo-cards.png' %>
			</div>
		</div>
	</div>
  <div class="d-flex justify-content-center">
		<div class="row">
			<div class="card col-md m-3">
				<a href=""><h6>Licenciement</h6></a>
				<%= image_tag 'logo-cards.png' %>
			</div>
			<div class="card col-md m-3">
				<a href=""><h6>Harcèlement</h6></a>
				<%= image_tag 'logo-cards.png' %>
			</div>
			<div class="card col-md m-3">
				<a href=""><h6>Excès de vitesse</h6></a>
				<%= image_tag 'logo-cards.png' %>
			</div>
		</div>
	</div>
</div>
