<div class="cta d-flex" style="background-image: linear-gradient(to top,#cdd9f4,rgba(255,255,255,0))">
	<div class="container d-flex">
		<div id="tagline">
			<h1>Rendez-justice.</h1>
			<p>Matchez avec nos meilleurs avocats en profitants de notre réseau de professionnels qualifiés.</p>
		</div>
		<%= image_tag 'home-image.svg' %>
	</div>
</div>

<div class="choix">
	<h4>Choisissez votre prestation...</h4>
</div>

<div class="container">
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="card rounded col-md m-3">
				<%= image_tag 'card-icon.svg' %>
				<div class="text-center p-3"><h2>Divorce</h2></div>
			</div>
			<div class="card rounded col-md m-3">
				<%= image_tag 'card-icon.svg' %>
				<div class="text-center p-3"><h2>Pension alimentaire</h2></div>
			</div>
			<div class="card rounded col-md m-3">
				<%= image_tag 'card-icon.svg' %>
				<div class="text-center p-3"><h2>Stationement</h2></div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="card rounded col-md m-3">
				<%= image_tag 'card-icon.svg' %>
				<div class="text-center p-3"><h2>Licenciement</h2></div>
			</div>
			<div class="card rounded col-md m-3">
				<%= image_tag 'card-icon.svg' %>
				<div class="text-center p-3"><h2>Harcèlement</h2></div>
			</div>
			<div class="card rounded col-md m-3">
				<%= image_tag 'card-icon.svg' %>
				<div class="text-center p-3"><h2>Excès de vitesse</h2></div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
