<div class="cta d-flex" style="background-image: linear-gradient(to top,#cdd9f4,rgba(255,255,255,0))">
	<div class="container d-flex">
		<div id="tagline" class="align-self-center">
			<h1>Rendez-justice.</h1>
			<p>Matchez avec nos meilleurs avocats en profitants de notre réseau de professionnels qualifiés.</p>
			<form class="form-inline">
				<input class="form-control mr-sm-2 w-75 p-3" type="search" placeholder="Nom, profession..." />
				<%= link_to "Rechecher", service_divorce_path, class: "btn btn-primary" %>
		</div>
		<%= image_tag 'home-image.svg', class: 'align-self-center' %>
	</div>
</div>

<!-- Fake comment -->

<div class="choix">
	<h4>Choisissez votre prestation...</h4>
</div>

<div class="container">
	<div class="card-deck mb-4">
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'skyler.png', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Divorce</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'pension.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Pension alimentaire</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'statio.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Stationnement</h2>
		</div>
	</div>

	<div class="card-deck mb-4">
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'licenciement.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Licenciement</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'bully.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Harcèlement</h2>
		</div>
		<div class="card card-pop rounded-4 shadow">
			<%= image_tag 'vitesse.svg', class: 'rounded-top mt-3' %>
			<h2 class="card-title text-center p-3">Excès de vitesse</h2>
		</div>
	</div>
</div>
