<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h3>Créer une procédure de <%= @service.title %></h3>
      <%= simple_form_for [@service, @procedure] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :date, as: :date, html5: true %>
          <%= f.input :grievance, :label => "Quel est votre grief ?" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>


    <div class="col-4">
      <div class="recap">
        <div class="recap-header">
          <h3>Votre procédure</h3>
        </div>
        <ul class="bill">
          <h5><%= @service.title %></h5>
          <p>Un divorce rapide <strong class="float-right"><%= @service.price %> €</strong></p>
          <h4 class="total">TOTAL <strong class="float-right"><%= @service.price %> €</strong></h4>
        </ul>
        </div>
      </div>
    </div>


  </div>
</div>
